body {
    font-family: Arial, sans-serif;

    /* TODO 1: Align all content to the center */
    text-align: center;
}

.container {
    width: 300px;
    margin: 60px auto;
    text-align: center;
}

#message {
    font-weight: bold;

    /* TODO 2: Set default text color to gray */
    color: gray;
}
